<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "shared/head" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :additional %>

  </head>

  <body>
    <%= yield %>
  
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
